body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 300px;
    height: 300px;
}

.descricao {
    width: 300px;
}

h2 {
    margin-bottom: 5px;
}

.duracao {
    width: 300px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra {
    width: 150px;
    height: 6px;
    border: 1px solid #990707;
    border-radius: 5px;
    display: flex;
    position: relative;
}

progress {
    height: 5px;
   border-radius: 5px;
    -webkit-appearance: none; /* Remove default styling for WebKit browsers */
    appearance: none;
    width: 100%

}


progress::-webkit-progress-bar {
    background: transparent;
   
}


.ponto {
    width: 20px;
    height: 20px;
    background-color: #360404;
    border-radius: 50%;
    margin-left: -10px;
}

.tempo {
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-top: 10px;
    
}

.player {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.botao-play, .botao-pause {
    font-size: 50px;
    cursor: pointer;
}

.barra-container {
    display: flex;
    justify-content: center;
    width: 300px; /* Largura igual à da descrição para centralização */
    margin-top: 25px; /* Espaço acima da barra */
}

.setas {
    font-size: 40px;
    cursor: pointer;
}

.botao-pause {
    display: none;
}